streamlit
pandas
numpy
scikit-learn
joblib
Pillow
lightgbm
category-encoders
imbalanced-learn
shap
plotly
thefuzz
rapidfuzz
python-dotenv
nest-asyncio
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
